.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-full {
  flex-basis: 100%;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}
