.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-full {
  flex-basis: 100%;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.event-table {
  border: solid 1px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

td,
th {
  border: 1px solid lightgray;
  padding: 0.5rem;
}

th {
  background-color: white;
}

.mb {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 4rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.add-event {
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(108, 117, 123);
  padding: 6px 8px;
}

#dropdown-days {
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}
